<!--TODO: add pagination-->
<% @posts.take(5).each do |post| %>
  <article class="post">

    <header class="entry-header">
      <h1 class="entry-title">
        <%= link_to post.title, post, rel: :bookmark %>
      </h1>
    </header>

    <div class="entry-content">
      <p class="entry-thumbnail">

        <%= link_to image_tag(image_host(post.thumbnail.url), alt: post.thumbnail.alt_txt),
                    post,
                    class: 'featured-image',
                    rel: post.id %>
      </p>

      <%= post.content.html_safe %>
    </div>

    <%= render 'shared/components/page_meta', post: post %>

  </article>

<% end %>

<%= render 'shared/components/pagination' %>

