<%
   set_body_class 'archives'
%>
<% content_for(:meta_title) { 'Archives | ' + Settings.site.title } %>
<% content_for :robots do %>
  <meta name="robots" content="index, follow">
<% end %>

<article class="single-page">

  <header class="entry-header">
    <h1 class="entry-title">Archives</h1>
  </header>

  <div class="entry-content">
    <div class="entry-body">
      <% current_year, current_month, close_list = nil, nil, nil %>

      <% @posts.each do |post| %>
        <% date = post.publish_date %>

        <% unless date.year == current_year && date.month == current_month %>
          <%= '</ul></div>'.html_safe if close_list %>
          <%= "<div class='archives-item'><h2>#{date.strftime('%B %Y')}</h2>\n<ul>".html_safe %>
          <% close_list = false %>
        <% end %>

        <li><%= link_to "#{post.publish_date.strftime('%d')}: #{post.title}", post_path(post) %></li>

        <% unless date.year == current_year && date.month == current_month
             current_year, current_month, close_list = date.year, date.month, true
           end %>
      <% end %>
      <%= '</ul></div>'.html_safe if close_list %>

    </div>
  </div>

  <%= render 'shared/components/page_meta',
             page: OpenStruct.new({   publish_date: DateTime.parse('2015-08-17T18:23:03+00:00'),
                                      updated_date: DateTime.parse('2015-08-17T18:23:03+00:00'),
                                      url: archives_path,
                                      author: site_author,
                                      terms: nil
                                  }) %>

</article>
