<!--TODO: add pagination-->
<% @posts.take(5).each do |post| %>
  <article class="post">

    <header class="entry-header">
      <h1 class="entry-title">
        <%= link_to post.title, post, rel: :bookmark %>
      </h1>
    </header>

    <div class="entry-content">
      <p class="entry-thumbnail">

        <%= link_to image_tag(image_host(post.thumbnail.url), alt: post.thumbnail.alt_txt),
                    post,
                    class: 'featured-image',
                    rel: post.id %>
      </p>

      <%= post.content.html_safe %>
    </div>

    <footer class="entry-meta">
      <p class="posted-on">
        Posted on
        <%= link_to post, rel: :bookmark do %>
          <%= time_tag post.publish_date, pubdate: true, class: 'entry-date published' %>
          <%= time_tag post.publish_date, class: 'date updated' %>
        <% end %>
      </p>

      <p class="byline">
        by
        <span class="author vcard">
          <!--TODO: use rails helper to point to users-->
          <%= link_to post.author.display_name, author_path(post.author), class: 'url fn n' %>
        </span>
      </p>

      <p class="category-links">
        <!--TODO: use real category links here-->
        Posted in <a href="http://thatcameraguy.co.uk/category/35mm/" rel="category tag">35mm</a>
      </p>

      <!--TODO: use real tag links here-->
      <p class="tags-links">
        Tagged
        <a href="http://thatcameraguy.co.uk/tag/feed-them-pigeons/" rel="tag">Feed them pigeons</a>,
        <a href="http://thatcameraguy.co.uk/tag/ilford-hp5-400/" rel="tag">Ilford HP5 400</a>,
        <a href="http://thatcameraguy.co.uk/tag/ilfosol-3/" rel="tag">Ilfosol 3</a>,
        <a href="http://thatcameraguy.co.uk/tag/nikon-50mm-f1-4d/" rel="tag">Nikon 50mm F1.4D</a>
      </p>
    </footer>
  </article>

<% end %>

<nav role="navigation">
  <h1 class="screen-reader-text">Posts navigation</h1>
  <div class="nav-links">

    <div class="nav-previous">
      <a href="http://thatcameraguy.co.uk/page/2/">
        <span class="meta-nav">←</span> Older posts
      </a>
    </div>

    <div class="nav-next">
      <a href="http://thatcameraguy.co.uk/">Newer posts
        <span class="meta-nav">→</span>
      </a>
    </div>
  </div>
</nav>
