<% post = @post %>

<% content_for :robots do %>
  <meta name="robots" content="index, follow">
<% end %>

<article class="single-page">

  <p><%= link_to 'Comments', '#comments' %></p>

  <header class="entry-header">
    <h1 class="entry-title"><%= post.title %></h1>
  </header>

  <div class="entry-content">

    <div class="entry-thumbnail">
      <%= link_to image_tag(image_host(post.thumbnail.url), alt: post.thumbnail.alt_txt),
                  post,
                  title: "Permalink to #{ post.title }",
                  rel: post.id,
                  class: 'featured-image'
      %>
    </div>
    <div class="entry-body">
      <%= post.content.html_safe %>
    </div>
  </div>

  <%= render 'shared/components/page_meta',
             page: OpenStruct.new({   publish_date: post.publish_date,
                                      updated_date: post.updated_at,
                                      url: post_path(post),
                                      author: post.author,
                                      terms: post.terms
                                  }) %>

</article>


<%
#<!--TODO: add commenting system
#<div id="disqus_thread"><iframe id="dsq-app1" name="dsq-app1" allowtransparency="true" frameborder="0" scrolling="no" tabindex="0" title="Disqus" width="100%" src="http://disqus.com/embed/comments/?base=default&amp;version=f1fc394da3cce1ce14a557d8c927c837&amp;f=thatcameraguycouk&amp;t_i=9%20http%3A%2F%2Fthatcameraguy.co.uk%2F%3Fp%3D9&amp;t_u=http%3A%2F%2Fthatcameraguy.co.uk%2Fcenton-df-300-minolta-x300%2F&amp;t_e=Centon%20DF-300%20%2F%20Minolta%20X300&amp;t_d=Centon%20DF-300%20%7C%20Minolta%20X300%20short%20review%20and%20sample%20photos&amp;t_t=Centon%20DF-300%20%2F%20Minolta%20X300&amp;s_o=default&amp;l=" style="width: 100% !important; border: none !important; overflow: hidden !important; height: 321px !important;" horizontalscrolling="no" verticalscrolling="no"></iframe></div>-->
%>
