<footer itemscope itemtype="http://schema.org/BlogPosting" class="entry-meta">
  <% if page.url %>
    <p class="pageed-on">
      Posted on
      <%= link_to page.url, rel: :bookmark, class: 'bookmark-link' do %>
        <%= time_tag(page.publish_date, itemprop: 'datePublished', class: 'entry-date published') if page.publish_date %>
        <%= time_tag(page.updated_date, class: 'date updated') if page.updated_date %>
      <% end %>
    </p>
  <% end %>

  <% if page.author %>
    <p class="byline">
      by
      <span class="author vcard">
        <%= link_to page.author.display_name, author_path(page.author), class: 'url fn n' %>
      </span>
    </p>
  <% end %>

  <% if page.terms %>
    <p class="category-links">
      Posted in
      <%= page.terms
              .to_a
              .select{ |x| x.term_group == 'category' }
              .map{ |x| link_to(x.name, category_path(x), rel: 'category') }.join(', ').html_safe %>
    </p>

    <p class="tags-links">
      Tagged
      <%= page.terms
              .to_a
              .select{ |x| x.term_group == 'tag' }
              .map{ |x| link_to(x.name, tag_path(x), rel: 'tag') }.join(', ').html_safe %>
    </p>
  <% end %>

</footer>
