<header id="masthead" role="banner">
  <h1 class="site-title"><%= link_to Settings.site.name, root_path, rel: :home %></h1>
  <h2 class="site-description"><%= Settings.site.tagline %></h2>
  <ul class="menu">
    <li><%= link_to 'Blog', posts_path %></li>
    <li><%= link_to 'Camera gear', camera_gear_path %></li>
    <li><%= link_to 'Archives', archives_path %></a></li>
  </ul>
</header>
